
@{
    ViewData["Title"] = "Home Page";
}



<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Device Shop</h1>
        <p class="lead">Here you can buy different devices.</p>
    </div>
</section>
