@model Device

@*
     For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container"

    <h1 class="my-4">Description
        <small>Device</small>
    </h1>



        <div class="col-md-8"
           
        </div>
        <ul>
        <li>@Model.Description</li>
        <li>@Model.Rating</li>
        <li>@Model.Price</li>
        <li>@Model.Title</li>
        </ul>
</div>
<img  src="\device\getimage\@Model.DeviceId"  />
    
   




